* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.layout-pane {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-topbar {
  flex: none;
}

.layout-main {
  overflow-y: auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
}

.rowAction {
  margin-left: auto;
}

.Form {
  /* width: 400px; */
  width: 100%;
  padding: 40px 24px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

.Field label{
  display: block;
}

.Field {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 50px; */
  /* grid-gap: 16px; */
  justify-content: space-between;
  margin-bottom: 8px;
}

.Field--bootstrap {
  width: 100%;
  margin-bottom: 16px !important;
}

.Header {
  padding: 24px;
  background-color: #eee;
  border-bottom: 1px solid #a9a9a9;
}

.debug-pane {
  background-color: #282c34;
  display: flex;
  padding: 24px;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  overflow-y: auto;
}

.Search {
  width: 100%;
  padding: 12px 8px;
}

.App-link {
  color: #61dafb;
}
